ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #00838F;
  padding: 0;
  margin: 0;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

li {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

a {
  display: block;
  color: #E0F7FA;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font: normal 16px/26px system-ui,
    Arial,
    sans-serif;
  transition: background-color 0.2s;
}

a:hover {
  background-color: #00ACC1;
}

.active {
  background-color: #00ACC1;
  font-weight: bold;
}

.content {
  margin-top: 50px;
}

.container {
  margin-left: 150px;
}
