<div class="container">
  <nav>
    <ul>
      <ng-template [ngIf]="auth.isLoggedIn()">
        <li><a routerLink="/add-person">Add Person</a></li>
        <li><a routerLink="/show-all">Show All</a></li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/logout" (click)="auth.logout()">Logout</a></li>
      </ng-template>
      <ng-template [ngIf]="!auth.isLoggedIn()">
        <li><a routerLink="/signup">Signup</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-template>
    </ul>
  </nav>
</div>
