<div class="container">
  <nav>
    <ul>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/add-person">Add Person</a></li>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/show-all">Show All</a></li>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/">Home</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin">Admin</a></li>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/logout" (click)="onLogout()">Logout</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</div>
