<div class="person-card">
  <div *ngIf="isShowAllRoute()" class="settings-btn-container">
    <button class="settings-btn">
      <img src="assets/gear-icon.png" alt="gear icon" class="gearIcon">
    </button>
  </div>
  <!-- <img [src]="person.image" alt="person image" class="person-image" /> -->
  <img src="assets/gear-icon.png" alt="gear icon" class="gearIcon">
  <div class="person-details">
    <h3>{{ person.name }}</h3>
    <p>Birthday: {{ person.birthdate | date: 'MMM d' }}</p>
    <p>Phone: {{ person.phone }}</p>
  </div>
</div>
