<div class="person-card">
  <div *ngIf="isShowAllRoute()" class="settings-btn-container">
    <button class="settings-btn">
      <img src="assets/gear-icon.png" alt="gear icon" class="gearIcon">
    </button>
  </div>
  <img [src]="birthday.image" alt="person image" class="person-image" />
  <div class="person-details">
    <h3>{{ birthday.firstName }} {{ birthday.lastName }}</h3>
    <p>Birthday: {{ birthday.birthdate | date: 'MMM d' }}</p>
    <p>Phone: {{ birthday.phoneNumber }}</p>
  </div>
</div>
