<div class="dialog-container">
  <h2>Edit Person</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" name="image" (change)="onFileChange($event)">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" required [(ngModel)]="birthday.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" required [(ngModel)]="birthday.lastName">
    </div>
    <div class="form-group">
      <label for="birthdate">Birthdate</label>
      <input type="date" id="birthdate" name="birthdate" required [(ngModel)]="birthday.birthdate">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" required [(ngModel)]="birthday.phoneNumber">
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="onDelete()" class="delete">Delete</button>
  </form>
</div>
