<div class="container">
  <h2>Register</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <div *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched"
        class="error-message">
        Email is required.
      </div>
      <div *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error-message">
        Invalid email format.
      </div>
      <div *ngIf="signupForm.get('email')?.hasError('emailExists') && signupForm.get('email')?.touched"
        class="error-message">
        Email already exists.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
      <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched"
        class="error-message">
        Password is required.
      </div>
      <div *ngIf="signupForm.get('password')?.hasError('forbiddenName') && signupForm.get('password')?.touched"
        class="error-message">
        Password cannot contain the word "password".
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
