<div *ngIf="shouldShowBirthdays()">
  <div>
    <h2>Birthdays Today</h2>
    <div class="birthday-container">
      <ng-container *ngIf="birthdaysToday.length > 0; else noBirthdaysToday">
        <app-birthdays *ngFor="let birthday of birthdaysToday" [birthday]="birthday"></app-birthdays>
      </ng-container>
      <ng-template #noBirthdaysToday>
        <p>No one</p>
      </ng-template>
    </div>
  </div>

  <div>
    <h2>Birthdays This Week</h2>
    <div class="birthday-container">
      <ng-container *ngIf="birthdaysThisWeek.length > 0; else noBirthdaysThisWeek">
        <app-birthdays *ngFor="let birthday of birthdaysThisWeek" [birthday]="birthday"></app-birthdays>
      </ng-container>
      <ng-template #noBirthdaysThisWeek>
        <p>No one</p>
      </ng-template>
    </div>
  </div>

  <div>
    <h2>Birthdays This Month</h2>
    <div class="birthday-container">
      <ng-container *ngIf="birthdaysThisMonth.length > 0; else noBirthdaysThisMonth">
        <app-birthdays *ngFor="let birthday of birthdaysThisMonth" [birthday]="birthday"></app-birthdays>
      </ng-container>
      <ng-template #noBirthdaysThisMonth>
        <p>No one</p>
      </ng-template>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-taskbar></app-taskbar>
