.birthday-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;

}

h2 {
  text-align: center;
  color: #B2EBF2;
  margin: 1rem;
  font: Verdana;
}

p {
  color: #FF8A80;
}
